<H1> Create a new Account ! </H1>

<div class="container">
            
    <form  action="/account" method="POST">
        <div class="mb-3">
            <label for="UserName" class="form-label">Tai khoan nguoi dung</label>
            <input type="text" class="form-control" id="UserName" name="UserName">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Mat khau</label>
            <input type="password" class="form-control" id="Password" name="Password">
        </div>
        <div class="mb-3">
            <label for="FullName" class="form-label">Ho ten day du</label>
            <input type="text" class="form-control" id="FullName" name="FullName">
        </div>
        <div class="mb-3">
            <label for="Role" class="form-label">Vi tri, vai tro CV</label>
            <input type="text" class="form-control" id="Role" name="Role" >
        </div>
        <div class="mb-3">
            <label for="imglink" class="form-label">Upload Hinh nh Nhan Vien</label>
            <input type="text" class="form-control"  id="imglink" name="imglink">
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
    </form>


  
</div>



